@import "../../../styles/index.scss";

.learn {
    position: relative;
    background-image: url("../../../assets/images/webp/learnBg.webp");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    .learn-div {
        padding-bottom: 300px;

        @media (max-width: 576px) {
            padding-bottom: 200px;
        }

        .learn-inspired {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: 1024px) {
                grid-template-columns: 1fr;
            }

            .learn-inspired-detail {
                position: relative;

                @media (max-width: 1024px) {
                    margin-top: -200px;
                }

                @media (max-width: 576px) {
                    margin-top: -100px;
                }

                .learn-inspired-detail-div {
                    position: absolute;
                    width: calc(100% + 100px);
                    padding: 40px;
                    background-color: var(--bg-purpul);
                    color: var(--color-white);
                    top: -60%;

                    @media (max-width: 1024px) {
                        position: relative;
                        top: 0;
                        width: 100%;
                    }

                    @media (max-width: 576px) {
                        padding: 20px;
                    }

                    h2 {
                        @include font40Light;

                        @media (max-width: 576px) {
                            font-size: 30px;
                            line-height: 40px;
                        }
                    }

                    p {
                        max-width: 450px;
                        @include font16;
                        line-height: 1.7em;
                        margin: 20px 0 45px 0;

                        @media (max-width: 576px) {
                            margin: 10px 0 30px 0;
                        }
                    }
                }
            }

            .learn-inspired-video {
                position: relative;
                max-height: 350px;

                @media (max-width: 1024px) {
                    max-height: none;
                }

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .design-future {
            padding: 0 40px 50px 40px;

            @media (max-width: 576px) {
                padding: 0;
            }

            p {
                @include font24;
                color: var(--font-purpul);
                margin: 50px 0;

                @media (max-width: 576px) {
                    margin-bottom: 20px;
                }
            }

            h3 {
                @include font90Light;
                text-transform: uppercase;
                color: var(--font-gray);
                animation: colorChanger 6s linear infinite;

                @media (max-width: 768px) {
                    font-size: 60px;
                    line-height: 80px;
                }

                @media (max-width: 576px) {
                    font-size: 36px;
                    line-height: 56px;
                }

                &:nth-child(3) {
                    animation-delay: 2s;
                }

                &:nth-child(4) {
                    animation-delay: 4s;
                }
            }
        }
    }
}

