.footer-div-sign,
.footer-div-links {
    button {
        min-width: 200px;
        padding: 9px 15px;
        border: 1px solid var(--color-white);
        background-color: transparent;
        color: var(--color-white);
        @include font16;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            border: 1px solid var(--color-black);
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }
}

.footer-div-links {
    button {
        min-width: 130px;
        margin-bottom: 20px;
    }
}

.get-ticket-btn {
    button {
        padding: 20px 60px;
        background-color: var(--bg-purpul);
        color: var(--color-white);
        border: none;
        @include font16;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--color-black);
        }
    }
}

.submit-btn, .time-ticket-button {
    button {
        padding: 10px 100px;
        background-color: var(--bg-purpul);
        color: var(--color-white);
        border: 1px solid transparent;
        @include font16;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        
        &:hover {
            background-color: var(--color-black);
            border: 1px solid var(--color-white);
        }

        @media (max-width: 576px) {
            padding: 10px;
            width: 100%;
        }
    }
}

.learn-inspired-detail-div, .featured-div-btn, .venue-div-btn {
    button {
        padding: 10px 25px;
        border: 1px solid var(--color-white);
        background-color: transparent;
        color: var(--color-white);
        @include font16;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            border: 1px solid var(--color-black);
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }
}

.featured-div-btn {
    button {
        @media (max-width: 1024px) {
            background-color: var(--bg-purpul);
        }
    }
}

.see-map-btn, .tickets-div1-content {
    button {
        padding: 10px 25px;
        border: 1px solid var(--bg-purpul);
        background-color: var(--bg-purpul);
        color: var(--color-white);
        @include font16;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            border: 1px solid var(--color-black);
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }
}

.tickets-div2-content, .buy-tck-btn {
    button {
        padding: 10px 25px;
        border: 1px solid var(--color-white);
        background-color: var(--bg-purpul);
        color: var(--color-white);
        @include font16;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            border: 1px solid var(--color-black);
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }
}