
/* Open Sans */
@font-face {
    font-family: "Open Sans";
    src: url("../assets/fontFamily/openSans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

/* Suez One */
@font-face {
    font-family: "Suez One";
    src: url("../assets/fontFamily/suezOne/SuezOne-Regular.ttf") format("truetype");
}