:root {
    --color-white: #fff;
    --color-black: #000;

    --font-purpul: #760fcb;
    --font-purpul-light: #cca4ee;
    --font-placeholder: #ffffffa4;
    --font-color-error: #ffeb3b;

    --bg-purpul: #760fcb;

    --border-color: #000;

    --error-accent-color: #ff6f61;
    
    --font-family-open: "Open Sans";
    --font-family-suez: "Suez One";
}
