


@mixin font14 {
    font-size: 14px;
    font-weight: 600;
}

@mixin font14Light {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@mixin font16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

@mixin fontNav {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@mixin font20 {
    font-size: 20px;
    font-weight: 400;
}

@mixin font24 {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

@mixin fontLogo {
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
}

@mixin font30Light {
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
}

@mixin font32 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}

@mixin font40Light {
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
}

@mixin font50Light {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
}

@mixin font60Light {
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
}

@mixin font90Light {
    font-size: 90px;
    font-weight: 400;
    line-height: 120px;
}

@mixin font160 {
    font-size: 160px;
    font-weight: 700;
    line-height: 1.2;
}